body{
  margin: 0 20%;
  background-color: darkcyan;
}

h1{
  text-align: center;
  font-weight: bold;
}


/* Search section */
#search{
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

#search > div{
  width: 40%;
}

#search input{
  background-color: darkgray;
  color: black;
  font-weight: bold;
}


/* Result section */
table {
  text-align: center;
}

table th{
  font-size: large;
}